.container {
    max-width: 1000px;
    margin: 30px auto;
   text-align: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1px;
}
