.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    text-align: right;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: auto 30px;
    margin-top: 11px;
}

button:hover {
    opacity: 90%;
}

* {
    margin: 0;
    padding: 0;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
    text-align: left;
    float: left;
}
ul {
    padding-top: 30px;
    list-style-type: none;
}

li {
    padding-left: 30px;
}
.amenities {
    height: 100%;
    width: 25%;
    text-align: left;
    float: left;
}

.locations .popover {
    border: #DDDDDD 1px solid;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 30px;
    background-color: #FAFAFA;;
    padding-bottom: 20px;
    display: none;
}

.locations:hover .popover {
    display: block;
}

.amenities .popover {
    border: #DDDDDD 1px solid;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 30px;
    background-color: #FAFAFA;;
    padding-bottom: 20px;
    display: none;
}

.amenities:hover .popover {
    display: block;
}


h3 {
    font-weight: 600;
    margin-top: 16px;
    margin-left: 30px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
}