.title {
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}

.articles {
    display: flex;
}

.my_home {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

h2 {
    font-size: 30px;
}

.tiny_house {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.suite {
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

.Arizona {
    font-size: 20px;
    margin-top: 20px;
}

.California {
    font-size: 20px;
    margin-top: 15px;
}
