.title {
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my_home {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

h2 {
    font-size: 30px;
}

.tiny_house {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.suite {
    width: 390px;
    padding: 20px;
    margin: 20px 20px 20px 250px;
    border-radius: 4px;
}