.price_by_night {
    color: #FF5A5F;
    padding: 15px;
    min-width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 30px;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}

.home_price {
    display: flex;
    justify-content: flex-end;
}

.max_guest {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon_guest {
    background: url(/web_static/images/icon_guest.png) no-repeat center;
    width: 100px;
    height: 45px;
}

.number_rooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon_bedroom {
    background: url(/web_static/images/icon_bed.png) no-repeat center;
    width: 100px;
    height: 45px;
}

.number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon_bathroom {
    background: url(/web_static/images/icon_bath.png) no-repeat center;
    width: 100px;
    height: 45px;
}

.user {
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.description {
    text-align: start;
    font-size: 16px;
}
